<div>
  <label for="{{name}}" class="block text-sm/6 font-medium text-gray-900">
    {{#if label}}{{label}}{{else}}{{name}}{{/if}}
    {{#if required}}<span class="text-red-500 ml-1">*</span>{{/if}}
  </label>
  <div class="mt-2 relative">
    <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
        <input 
            id="{{name}}"
            type="{{#if type}}{{type}}{{else}}text{{/if}}" 
            name="{{name}}" 
            autocomplete="off"
            {{#if required}}required{{/if}} 
            value="{{value}}" 
            {{#if readonly}}readonly disabled{{/if}}
            
            class="block min-w-0 grow bg-white py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6"
            />
    </div>
    
    {{#if readonly}}
      <div class="absolute inset-0 bg-gray-200 opacity-50 rounded-md cursor-not-allowed"></div>
    {{/if}}
  </div>
</div>
